/*ELEMENTS */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #FDF6F0;
  color: #694E4E;
}

a {
  color: #694E4E;
}

a:hover {
  color: #9E7676;
}

h1,
h2,
h4,
h4,
h5,
h6 {
  font-weight: bold;
}

/* HEADINGS */

.torte-component {
  color: #815B5B;
}

/*CATEGORY*/

.colored-section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #502d10;
  text-align: center;
}

.title-img {
  width: 800px;
  height: 600px;
  object-fit: contain;
}

.title-section {
  background-image: linear-gradient(#594545,#FFF8EA);
}

.card-title {
  font-size: xx-large;
}

.categories-cards {
  padding-top: 50px;
}

.total-cakes {
  margin-left: 80%
}

/*NAVBAR*/

.navbar {
  padding-top: 0.2rem;
  top: 0;
  box-shadow: 3px 3px #594545;
  background-color:#feefe0 !important;
}

 .navbar-brand, .nav-link {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 50px !important;
  transition: transform .2s;
} 

.navbar a {
  color: #694E4E;
  margin: 15px;
  font-size:larger
}

.navbar-brand:hover {
  transform: scale(1.5);
}

.navbar-brand:hover {
  text-shadow: 2px 2px 9px #F5C6AA;
  color: #9E7676;
}

.nav-link:hover {
  text-shadow: 2px 2px 9px #F5C6AA;
  color: #9E7676;
}

/*FOOTER*/

.footer {
  text-align: center;
  position:static;
  background-color: #feefe0;
  bottom: 0 !important;
  border-top: solid 3px #594545;
  font-size: 15px;
  font-weight: bold;
}

.media {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #694E4E;
}

.no-results {
  height: 200px;
}

/*IMAGES*/

.big-pic {
  object-fit: contain;
  width: 500px;
  height: 500px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/*CAKEINFO*/

.pop-text {
  font-size: large;
}

.cake-info {
  height: 100%;
}

/*SEARCH */

.search h1 {
  margin-bottom: 50px;
}

.search {
  margin-top: 200px;
  width: 1320px;
}

/*CARDS*/

.card {
  background-color: #FDF6F0;
  color: #694E4E;
  margin-bottom: 50px;
  margin-right: 0px !important;
}

.card:hover {
  box-shadow: 0 0 1px 1px #594545;
}

/*HOMEPAGE*/

.home-container {
  margin-top: 50px;
}

.home-row {
  height: 500px;
}

.home-col {
  align-items: center;
}

.home-text {
  text-align: center;
}

/*Footer*/



.card-link {
  text-decoration: none;
  color: #694E4E;
}

.error-message {
  margin-top: 10%;
}

/*Pagination*/

.page-link {
  color: #694E4E;
  background-color: #FDF6F0;
}

.active>.page-link {
  color: #FDF6F0;
  background-color: #694E4E;
}