/* Color Palette
https://colorhunt.co/palette/f3c5c5c1a3a3886f6f694e4e  */

/*ELEMENTS */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: #FDF6F0;
  color: #694E4E;
}

h1,
h2,
h4,
h4,
h5,
h6 {
  font-weight: bold;
}

/* HEADINGS */



  .torte-component {
    color: #815B5B;
  }


.text {
  background-color: aqua;
}

.text2 {
  margin-left: 400px;
}

 

/* CONTAINERS */

/* 
#features {
  position: relative;
} */

/*NAVBAR*/

.colored-section {
  padding-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card-title {
  font-size:xx-large;
}

.categories-cards {
  padding-top: 50px;
}




.category-title {
  text-align: center;
}

.title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.collapsed {
  color: #FFF8EA !important;
}


.container-fluid2 {
  margin-top: 100px;
}

.navbar {
  padding-top: 0.2rem;
  background-color: #594545 !important;
  width: 100% !important;
  left: 0;
  top: 0;
  position: fixed;
  box-shadow: 3px 3px #594545;
}

.navbar.sticky {
 z-index: 200;
 box-shadow: 0 0 4px 4px #FFF8EA;
}

.total-cakes {
  margin-left: 80%
}

.navbar :link {
  text-decoration: none;
}

.navbar a {
  margin: 10px;
}

.title-img {
  width: 800px;
  height: 600px;
  object-fit:contain;
}

.title-img2 {
  margin-top: 55px;
  margin-left: 300px;
  width: 700px;
}

.img-container {
  padding: 0px;
}




.home-page-img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.home {
  margin-top: 200px;
}


.navbar-brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #FFF8EA !important;
  margin-right: 20px;
  transition: transform .2s;
}

.navbar-logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFF8EA;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand:hover {
  text-shadow: 2px 2px 9px #F5C6AA;
  color: #9E7676;
}


.navbar-nav {
  margin-right: 30%;
  margin-left: 60%;
  width: 600px;
}

.navbar a {
  color: #694E4E;
  margin: 15px;
}

.search h1 {
  margin-bottom: 50px;
}



.navbar-toggler {
  margin-right: 10%;
}


.navbar-brand:hover {
  transform: scale(1.5);
}

/*IMAGES*/

.big-pic {
  object-fit: contain;
  width: 500px;
  height: 500px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.pic_size {
  object-fit: contain;
}

/*CAKEINFO*/

.pop-text {
  font-size: large;
}

.modal-content {
  width: fit-content;
  height: fit-content;
}

.cake-info {
  height: 100%;
}





.search {
  margin-top: 200px;
}

.title-image {
  object-fit: cover;
  width: 900px;
  height: 600px;
  margin-left: 400px;
  object-fit:cover   !important;
}

.features-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 20px;
  margin-bottom: 30px;
} 


/* Features */
/* .features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-txt {
  margin-top: 5px;
  color: #8f8f8f;
}




/* Testimonials */

/* .testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} */

/* Pricing Section */

/* #pricing {
  padding: 100px;
}

 */

/* .first_section_età {
  background-color: #000B49;
} */

/* .second_section_innamorati {
  background-color: #9B0000;
}

.third_section_anno {
  background-color: #FF7272;
}

.fourth_section_varie {
  background-color: #000B49;
}

.first_section_eventi {
  background-color: #FFB5B5;
}
 */



/*CARDS*/


.App {
  background-color: #815B5B;
}

.feature {
  margin-top: 150px;
  text-align: center;
  color: #FFF8EA ;
}



.row1 {
  margin-top: 30px;
  /* background-color: #9E7676; */
}

.row2 {
  margin-top: 30px;
  /* background-color: #9E7676; */
}

.features {
  margin-top: 100px;
}


.card {
  border: 2px solid #694E4E;
  box-shadow: 0 0 4px 4px #694E4E;
  background-color: #FDF6F0;
  color: #694E4E;
  margin-bottom: 50px;
  margin-right: 0px !important;
}






.btn:hover {
  background-color:#594545;
  box-shadow: 0 0 5px 5px #F5C6AA !important;
  color: #FDF6F0;
  position: relative;
  bottom: 2px;
  left: 2px;
  
}

.btn {
  background-color:antiquewhite;
  margin-top: 10px;
  color: #594545;
  padding-left: 0;
  padding-right: 0;
  width: 150px;
}

.card:hover {
  box-shadow: 0 0 10px 10px #594545;
  background-color: #FAE8D5;
  position: relative;
  bottom: 2px;
  left: 2px;
  /* cursor: pointer; */
}

/* .card-img {
  margin-top: 10px;
  width: 180px;
  object-fit:cover;
} */


/*FOOTER*/

#footer {
  background-color: #594545 !important;
  box-shadow: 0 0 3px 3px #594545;
  width: 100%;
  height: 150px;
  bottom: 0 !important;
  padding-top: 1px;
}

.card-link {
  text-decoration: none;
  color: #694E4E;

}

#padding-footer {
  margin-top: 100%;
}

.socialMedia {
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #FFF8EA;
  font-size: 25px;
}

.copyright {
  margin-top: 20px;
  font-size: large;
  color: #FFF8EA;
  margin-bottom: 100px !important;
}

.error-message {
  margin-top: 10%;
}
